################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/build
/.vs/TBOI_Copy/v17/DocumentLayout.json
/.vs/TBOI_Copy/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/VSWorkspaceState.json
